# **Eater NYC Data Frames**

In [1]:
# Import necessary libraries and dependencies.
import pandas as pd
from pathlib import Path
import csv
import sqlalchemy
from sqlalchemy import create_engine

In [2]:
# Import csv.
csv_path=Path("eater_closed_restaurants_data_raw")

In [3]:
data=pd.read_csv(csv_path)

In [4]:
# CSV Data Example.
data.head()

,restaurant_id,name,neighborhood,borough,zip_code,closed_as_of_date
0,1,Awkward Scone,Bushwick,Brooklyn,11216,2020-08-06
1,2,Kharian Deli,Chelsea,Manhattan,10011,2020-08-06
2,3,Zauo,Chelsea,Manhattan,10011,2020-08-06
3,4,Camp,Cobble Hill,Brooklyn,11201,2020-08-06
4,5,Bunsmith,Crown Heights,Brooklyn,11238,2020-08-06

In [5]:
# Import SQL grouped data frames by zip-code/income level.
# Create a connection to the database on my local PostgreSQL instance.
engine=create_engine("postgresql://postgres:postgres@localhost:5432/pandemic_eater_db")

In [6]:
# Create Query's for each SQL view I would like to make a DF here in Python.
query_low="SELECT*FROM low_income_closed_eater"

In [7]:
query_mid="SELECT*FROM mid_income_closed_eater"

In [8]:
query_high="SELECT*FROM high_income_closed_eater"

In [9]:
# Create Pandas DataFrames by reading records from the database.
low_income_df=pd.read_sql(query_low,engine)

In [10]:
# Low Income Data (There was none, therefore DF will be empty).
low_income_df

Empty DataFrame
Columns: [restaurant_id, name, neighborhood, borough, zip_code, closed_as_of_date]
Index: []

In [14]:
# Create low_income csv.
low_income_df.to_csv("low_income_closed.csv")

In [11]:
# Mid Income Data
mid_income_df=pd.read_sql(query_mid,engine)

In [13]:
mid_income_df

,restaurant_id,name,neighborhood,borough,zip_code,closed_as_of_date
0,5,Bunsmith,Crown Heights,Brooklyn,11238,2020-08-06
1,7,Fonda,East Village,Manhattan,10009,2020-08-06
2,8,Oda House,East Village,Manhattan,10009,2020-08-06
3,43,Always and Forever Cafe,Bed Stuy,Brooklyn,11238,2020-07-23
4,45,Bad Seed,Crown Heights,Brooklyn,11238,2020-07-23
5,53,Violetâ€™s Bake Shoppe,Forest Hills,Queens,11375,2020-07-16
6,54,Dutch Kills Centraal,Long Island City,Queens,11101,2020-07-16
7,80,Gladyâ€™s,Crown Heights,Brooklyn,11238,2020-07-02
8,91,the Finch,Clinton Hill,Brooklyn,11238,2020-06-26
9,96,The Way Station,Prospect Heights,Brooklyn,11238,2020-06-26
10,103,Urban Vintage,Clinton Hill,Brooklyn,11238,2020-06-18
11,104,Violet,East Village,Manhattan,10009,2020-06-18
12,114,The Forest Hills Diner,Forest Hills,Queens,11375,2020-06-05
13,115,Jack and Nellieâ€™s,Forest Hills,Queens,11375,2020-06-05
14,142,The Irish Cottage,Forest Hills,Queens,11375,2020-05-08

In [16]:
# Create mid_income csv.
mid_income_df.to_csv("mid_income_closed.csv")

In [17]:
# High Income Data.
high_income_df=pd.read_sql(query_high,engine)

In [18]:
high_income_df

,restaurant_id,name,neighborhood,borough,zip_code,closed_as_of_date
0,16,Holy Ground,Tribeca,Manhattan,10013,2020-08-06
1,17,Angkor Cambodian Bistro,Upper East Side,Manhattan,10065,2020-08-06
2,34,Agra Restaurant,Upper East Side,Manhattan,10065,2020-07-30
3,36,La Caridad 78,Upper West Side,Manhattan,10024,2020-07-30
4,37,Oath Pizza,Upper West Side,Manhattan,10024,2020-07-30
5,38,Recolte,Upper West Side,Manhattan,10023,2020-07-30
6,44,Letâ€™s Makan,Chinatown,Manhattan,10013,2020-07-23
7,56,Ali Baba,Upper West Side,Manhattan,10024,2020-07-16
8,57,Amsterdam Gourmet Deli,Upper West Side,Manhattan,10024,2020-07-16
9,58,the Beacon Bar,Upper West Side,Manhattan,10023,2020-07-16
10,60,Floating Mountain Tea House,Upper West Side,Manhattan,10023,2020-07-16
11,61,Grill 212,Upper West Side,Manhattan,10024,2020-07-16
12,63,Nanoosh,Upper West Side,Manhattan,10023,2020-07-16
13,64,New Wave Cafe,Upper West Side,Manhattan,10024,2020-07-16
14,65,Pasta Franco,Upper West Side,Manhattan,10024,2020-07-16
15,66,Vaucluse,Upper East Side,Manhattan,10065,2020-07-16
16,75,Pokebab,Upper West Side,Manhattan,10023,2020-07-16
17,84,Padoca,Upper East Side,Manhattan,10065,2020-07-02
18,89,Aux Epices,Chinatown,Manhattan,10013,2020-06-26
19,90,Mee Li Fruits and Vegetables,Chinatown,Manhattan,10013,2020-06-26
20,98,The Cupping Room Cafe,SoHo,Manhattan,10013,2020-06-26
21,111,Oxbow Tavern,Upper West Side,Manhattan,10023,2020-06-18
22,123,Vietspot,Tribeca,Manhattan,10013,2020-05-29
23,126,Schnippers,Tribeca,Manhattan,10007,2020-05-22
24,127,Bistro Cassis,Upper West Side,Manhattan,10023,2020-05-22
25,136,Beyoglu,Upper East Side,Manhattan,10028,2020-05-15
26,138,the Aviary,Columbus Circle,Manhattan,10023,2020-05-08
27,139,the Office,Columbus Circle,Manhattan,10023,2020-05-08
28,146,Lucky Strike,SoHo,Manhattan,10013,2020-05-08

In [19]:
# Create high_income csv.
high_income_df.to_csv("high_income_closed.csv")