In [2]:
import pandas as pd
from pathlib import Path

In [3]:
csvpath= Path("Restaurant_grades.csv")
rest_grades_db= pd.read_csv(csvpath)
rest_grades_db.head()

,DBA,BORO,BUILDING,STREET,ZIPCODE,CUISINE DESCRIPTION,VIOLATION DESCRIPTION,CRITICAL FLAG,SCORE,GRADE,GRADE DATE,RECORD DATE
0,EAT-A-BAGEL (JOHN A NOBLE FERRY BOAT),Manhattan,0,WHITEHALL FERRY TERMINAL,10004.0,American,NaN,NaN,0,A,06/07/2013,08/07/2020
1,BROOKLYN SWEET SPOT,Brooklyn,366,MYRTLE AVENUE,11205.0,Bakery,Non-food contact surface improperly constructe...,N,10,A,04/21/2014,08/07/2020
2,BROOKLYN SWEET SPOT,Brooklyn,366,MYRTLE AVENUE,11205.0,Bakery,Personal cleanliness inadequate. Outer garment...,Y,10,A,04/21/2014,08/07/2020
3,BROOKLYN SWEET SPOT,Brooklyn,366,MYRTLE AVENUE,11205.0,Bakery,Cold food item held above 41ยบ F (smoked fish a...,Y,43,C,10/30/2014,08/07/2020
4,BROOKLYN SWEET SPOT,Brooklyn,366,MYRTLE AVENUE,11205.0,Bakery,Insufficient or no refrigerated or hot holding...,Y,43,C,10/30/2014,08/07/2020

In [6]:
rest_grades_db= rest_grades_db.drop(columns=['CUISINE DESCRIPTION', 'CRITICAL FLAG', 'SCORE', 'GRADE'])
rest_grades_db.head()

KeyError: "['CUISINE DESCRIPTION' 'CRITICAL FLAG' 'SCORE' 'GRADE'] not found in axis"

In [7]:
rest_grades_db.head()

,DBA,BORO,BUILDING,STREET,ZIPCODE,VIOLATION DESCRIPTION,GRADE DATE,RECORD DATE
0,EAT-A-BAGEL (JOHN A NOBLE FERRY BOAT),Manhattan,0,WHITEHALL FERRY TERMINAL,10004.0,NaN,06/07/2013,08/07/2020
1,BROOKLYN SWEET SPOT,Brooklyn,366,MYRTLE AVENUE,11205.0,Non-food contact surface improperly constructe...,04/21/2014,08/07/2020
2,BROOKLYN SWEET SPOT,Brooklyn,366,MYRTLE AVENUE,11205.0,Personal cleanliness inadequate. Outer garment...,04/21/2014,08/07/2020
3,BROOKLYN SWEET SPOT,Brooklyn,366,MYRTLE AVENUE,11205.0,Cold food item held above 41ยบ F (smoked fish a...,10/30/2014,08/07/2020
4,BROOKLYN SWEET SPOT,Brooklyn,366,MYRTLE AVENUE,11205.0,Insufficient or no refrigerated or hot holding...,10/30/2014,08/07/2020

In [8]:
rest_grades_db= rest_grades_db.drop(columns=['VIOLATION DESCRIPTION'])
rest_grades_db.head()

,DBA,BORO,BUILDING,STREET,ZIPCODE,GRADE DATE,RECORD DATE
0,EAT-A-BAGEL (JOHN A NOBLE FERRY BOAT),Manhattan,0,WHITEHALL FERRY TERMINAL,10004.0,06/07/2013,08/07/2020
1,BROOKLYN SWEET SPOT,Brooklyn,366,MYRTLE AVENUE,11205.0,04/21/2014,08/07/2020
2,BROOKLYN SWEET SPOT,Brooklyn,366,MYRTLE AVENUE,11205.0,04/21/2014,08/07/2020
3,BROOKLYN SWEET SPOT,Brooklyn,366,MYRTLE AVENUE,11205.0,10/30/2014,08/07/2020
4,BROOKLYN SWEET SPOT,Brooklyn,366,MYRTLE AVENUE,11205.0,10/30/2014,08/07/2020

In [13]:
rest_grades_db= rest_grades_db.dropna().copy()
rest_grades_db.head()

,DBA,BORO,BUILDING,STREET,ZIPCODE,GRADE DATE,RECORD DATE
0,EAT-A-BAGEL (JOHN A NOBLE FERRY BOAT),Manhattan,0,WHITEHALL FERRY TERMINAL,10004.0,06/07/2013,08/07/2020
1,BROOKLYN SWEET SPOT,Brooklyn,366,MYRTLE AVENUE,11205.0,04/21/2014,08/07/2020
2,BROOKLYN SWEET SPOT,Brooklyn,366,MYRTLE AVENUE,11205.0,04/21/2014,08/07/2020
3,BROOKLYN SWEET SPOT,Brooklyn,366,MYRTLE AVENUE,11205.0,10/30/2014,08/07/2020
4,BROOKLYN SWEET SPOT,Brooklyn,366,MYRTLE AVENUE,11205.0,10/30/2014,08/07/2020