In [76]:
import pandas as pd
from pathlib import Path
import hvplot.pandas
import plotly.express as px
import os
%matplotlib inline

In [77]:
dateCols = ['GRADE DATE']
csvpath= Path("zipcode_restaurants_income.csv", parse_dates=dateCols)
pre_covid_db= pd.read_csv(csvpath)
pre_covid_db.head()

,New York,Borough,income_num_returns(households),avg income per return(x1000s),income level,DBA,STREET,CUISINE DESCRIPTION,SCORE,GRADE,GRADE DATE
0,10007,Manhattan,3640,693.379945,high income,MARIACHI'S RESTAURANT,CHAMBERS STREET,Mexican,13,A,1/13/2020
1,10007,Manhattan,3640,693.379945,high income,SPOTIFY - BARISTA BAR,GREENWICH STREET,CafÃ©/Coffee/Tea,13,A,1/22/2020
2,10007,Manhattan,3640,693.379945,high income,STARBUCKS COFFEE COMPANY #29854,GREENWICH STREET,CafÃ©/Coffee/Tea,2,A,1/13/2020
3,10007,Manhattan,3640,693.379945,high income,SPOTIFY - BARISTA BAR,GREENWICH STREET,CafÃ©/Coffee/Tea,13,A,1/22/2020
4,10007,Manhattan,3640,693.379945,high income,CANTEEN,WORLD TRADE CTR,American,12,A,1/23/2020

In [78]:
Pre_restaurants= pre_covid_db.drop(columns=["CUISINE DESCRIPTION", "SCORE", "GRADE"])
Pre_restaurants.head()

,New York,Borough,income_num_returns(households),avg income per return(x1000s),income level,DBA,STREET,GRADE DATE
0,10007,Manhattan,3640,693.379945,high income,MARIACHI'S RESTAURANT,CHAMBERS STREET,1/13/2020
1,10007,Manhattan,3640,693.379945,high income,SPOTIFY - BARISTA BAR,GREENWICH STREET,1/22/2020
2,10007,Manhattan,3640,693.379945,high income,STARBUCKS COFFEE COMPANY #29854,GREENWICH STREET,1/13/2020
3,10007,Manhattan,3640,693.379945,high income,SPOTIFY - BARISTA BAR,GREENWICH STREET,1/22/2020
4,10007,Manhattan,3640,693.379945,high income,CANTEEN,WORLD TRADE CTR,1/23/2020

In [79]:
Date_pre_db=Pre_restaurants.set_index(Pre_restaurants['GRADE DATE'])
Date_pre_db.head()

,New York,Borough,income_num_returns(households),avg income per return(x1000s),income level,DBA,STREET,GRADE DATE
GRADE DATE,,,,,,,,
1/13/2020,10007,Manhattan,3640,693.379945,high income,MARIACHI'S RESTAURANT,CHAMBERS STREET,1/13/2020
1/22/2020,10007,Manhattan,3640,693.379945,high income,SPOTIFY - BARISTA BAR,GREENWICH STREET,1/22/2020
1/13/2020,10007,Manhattan,3640,693.379945,high income,STARBUCKS COFFEE COMPANY #29854,GREENWICH STREET,1/13/2020
1/22/2020,10007,Manhattan,3640,693.379945,high income,SPOTIFY - BARISTA BAR,GREENWICH STREET,1/22/2020
1/23/2020,10007,Manhattan,3640,693.379945,high income,CANTEEN,WORLD TRADE CTR,1/23/2020

In [80]:
sorted_pre_restaurants= Date_pre_db.sort_index(ascending= True)
sorted_pre_restaurants.head()

,New York,Borough,income_num_returns(households),avg income per return(x1000s),income level,DBA,STREET,GRADE DATE
GRADE DATE,,,,,,,,
1/10/2019,11355,Queens,52130,29.435373,low income,GOOD TASTE 666,MAIN ST,1/10/2019
1/10/2019,10452,Bronx,36880,28.857890,low income,MEZCLA DE SABORES RESTAURANT,OGDEN AVENUE,1/10/2019
1/10/2019,10452,Bronx,36880,28.857890,low income,EL CALDERO RESTAURANT SPORT BAR,JEROME AVENUE,1/10/2019
1/10/2019,11355,Queens,52130,29.435373,low income,GOOD TASTE 666,MAIN ST,1/10/2019
1/10/2019,11238,Brooklyn,31680,96.859817,medium income,C'MON EVERYBODY,FRANKLIN AVENUE,1/10/2019

In [81]:
pre_rest_db= sorted_pre_restaurants.loc['3/17/2019':'8/06/2019']
pre_rest_db.head()

,New York,Borough,income_num_returns(households),avg income per return(x1000s),income level,DBA,STREET,GRADE DATE
GRADE DATE,,,,,,,,
3/18/2019,10013,Manhattan,15140,490.137517,high income,SHANGHAI DUMPLING,MOTT STREET,3/18/2019
3/18/2019,10065,Manhattan,15920,662.741457,high income,JO JO,EAST 64 STREET,3/18/2019
3/18/2019,10309,Staten Island,15270,90.039424,medium income,ISLANDER TASTE,ROSSVILLE AVENUE,3/18/2019
3/18/2019,10065,Manhattan,15920,662.741457,high income,PANDA BUBBLE TEA,LEXINGTON AVENUE,3/18/2019
3/18/2019,11375,Queens,35810,99.451103,medium income,DOMINO'S,METROPOLITAN AVE,3/18/2019

In [88]:
pre_rest_db.duplicated()

GRADE DATE
3/18/2019    False
3/18/2019    False
3/18/2019    False
3/18/2019    False
3/18/2019    False
3/18/2019    False
3/18/2019     True
3/18/2019     True
3/18/2019     True
3/18/2019    False
3/18/2019     True
3/18/2019     True
3/18/2019     True
3/18/2019    False
3/18/2019    False
3/18/2019     True
3/18/2019     True
3/18/2019    False
3/18/2019     True
3/18/2019     True
3/18/2019     True
3/18/2019    False
3/18/2019     True
3/18/2019    False
3/18/2019     True
3/18/2019    False
3/18/2019    False
3/18/2019    False
3/18/2019    False
3/18/2019    False
             ...
7/9/2019     False
7/9/2019      True
7/9/2019      True
7/9/2019     False
7/9/2019      True
7/9/2019     False
7/9/2019      True
7/9/2019     False
7/9/2019     False
7/9/2019      True
7/9/2019     False
7/9/2019      True
7/9/2019     False
7/9/2019      True
7/9/2019      True
7/9/2019     False
7/9/2019      True
7/9/2019      True
7/9/2019     False
7/9/2019      True
7/9/2019      True
7/9/2019      True
7/9/2019     False
7/9/2019      True
7/9/2019      True
7/9/2019      True
7/9/2019      True
7/9/2019      True
7/9/2019      True
7/9/2019      True
Length: 6044, dtype: bool

In [89]:
pre_rest_db= pre_rest_db.drop_duplicates().copy()

In [90]:
pre_rest_db['income level'].value_counts()

high income      1313
medium income     700
low income        521
Name: income level, dtype: int64

In [91]:
pre_rest_db['New York'].value_counts()

10013    281
10022    240
10017    200
10009    167
11101    142
11238    129
11375    125
11355    111
10028    105
10024    105
10023    101
10065     89
10021     80
10007     80
10455     61
10452     58
10457     52
10454     50
10453     49
10456     46
10459     45
10309     44
11357     38
10460     38
10075     32
10464     22
11694     18
10474     11
11360     10
10044      5
Name: New York, dtype: int64

In [95]:
pre_rest_db["Borough"].value_counts()

Manhattan        1485
Queens            444
Bronx             432
Brooklyn          129
Staten Island      44
Name: Borough, dtype: int64

In [93]:
# plotting

pre_rest_db["Borough"].value_counts().hvplot.bar(xlabel= 'Borough', ylabel= 'Number of Restaurants', label='Restaurants per Borough- 3/16/19- 8/6/19')

:Bars   [index]   (Borough)

In [94]:
pre_rest_db['income level'].value_counts().hvplot.bar(label= "Number of Restaurants in different Socio-Economic Areas, 3/16/19- 8/6/19", xlabel= "Income Bracket", ylabel= " # of Restaurants")

:Bars   [index]   (income level)